{% extends 'rebs/layouts/base.html' %}

{% block title %}Rebs - Project{% endblock %}

{% block content %}
    {% load widget_tweaks %}

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        {% include 'rebs/partials/content_title.html' with  second_bs="신규 프로젝트" title="프로젝트 관리" %}
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        {% with menu_order='1' %}
                            {% include 'rebs_project/partials/head_menu.html' %}
                        {% endwith %}

                        <div class="row">
                            <div class="col-12">
                                <div class="col-12 border-bottom mb-4">
                                    <h4><i class="dripicons-view-apps"></i> 프로젝트 등록</h4>
                                </div>

                                <div class="col-12">
                                    <form method="post" class="form-horizontal needs-validation col-12 col-md-8"
                                          novalidate>
                                        {% csrf_token %}

                                        {% for field in form %}
                                            <div class="row mb-3">

                                                {% if field.field.widget.input_type == 'checkbox' %}
                                                    <div class="form-check">
                                                        {{ field|add_class:"form-check-input" }}
                                                        <label class="form-check-label"
                                                               for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                        <div><small class="text-black-50">{{ field.help_text }}</small></div>
                                                        <div class="invalid-feedback">상기 {{ field.label }} 폼을 입력 또는 선택하여
                                                            주십시요.
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <label for="{{ field.id_for_label }}"
                                                           class="col-3 col-form-label">{{ field.label }}</label>
                                                    <div class="col-9">

                                                        {% if field.field.widget.input_type == 'select' %}
                                                            {{ field|add_class:"form-control select2"|attr:"data-toggle:select2" }}
                                                        {% elif 'date' in field.name %}
                                                            {{ field|add_class:"form-control"|attr:"data-provide=datepicker data-date-format=yyyy-mm-dd data-date-autoclose=true data-toggle=input-mask data-mask-format=0000-00-00" }}
                                                        {% elif not field.field.widget.input_type %}
                                                            {{ field|add_class:"form-control"|attr:"rows:5" }}
                                                        {% else %}
                                                            {{ field|add_class:"form-control" }}
                                                        {% endif %}
                                                        <div><small class="text-black-50">{{ field.help_text }}</small></div>
                                                        <div class="invalid-feedback">상기 {{ field.label }} 폼을 입력 또는 선택하여
                                                            주십시요.
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        <div class="justify-content-end row">
                                            <div class="col-9">
                                                <button type="button" class="btn btn-secondary"
                                                        onclick="history.back()">
                                                    취소
                                                </button>
                                                {% if 'update' in request.path %}
                                                    <a href="{% if request.user.is_superuser %}{% url 'rebs:project:delete' object.pk %}{% else %}javascript:alert('최고관리자만 삭제할 수 있습니다.'){% endif %}">
                                                        <button type="button" class="btn btn-danger">삭제하기</button>
                                                    </a>
                                                {% endif %}
                                                <button type="submit"
                                                        class="btn btn-{% if 'create' in request.path %}primary{% else %}success{% endif %}">
                                                    {% if 'create' in request.path %}등록{% else %}변경{% endif %}하기
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- container -->

{% endblock %}
