# python cache
*/__pycache__/
*/*/__pycache__/
django/*/__pycache__/
*.pyc
*.pyo

# django etc
django/*/migrations/
django/media/
django/app/settings/prod.py

# mysql data
*/mysql/
mysql/*

# ssl cert
nginx/ssl/
nginx/log/

# ide
.idea/
.vscode/

# virtualize
venv/

*/node_modules
dist
*/yarn.error.log

docker-compose.yml
