<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payments List</title>
    <style>
      @page {
        size: Letter; /* Change from the default size of A4 */
        margin: 1cm 1.5cm 0.5cm; /* Set margin on each page */
      }

      body {
        font-family: 'Nanum Gothic', sans-serif;
      }
    </style>
</head>
<body>
<table style="width: 100%; border-collapse:collapse;">
    <tr>
        <td style="border:1px solid black; text-align: center; height: 50px;" colspan="20"><h2>분양대금납부확인서</h2></td>
    </tr>
    <tr>
        <td style="border:1px solid black;">&nbsp;</td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
        <td style="border:1px solid black;"></td>
    </tr>
</table>
</body>
</html>
