<!-- Button Group -->
<div class="btn-group mb-2">
    <button type="button" class="btn btn-light"
            onclick="location.href='{% url 'rebs:project:set-ordergroup' %}'">차수 분류 등록
    </button>
    <button type="button" class="btn btn-light"
            onclick="location.href='{% url 'rebs:project:set-unit-type' %}'">타입 정보 등록
    </button>
    <button type="button" class="btn btn-light"
            onclick="location.href='{% url 'rebs:project:set-floor-type' %}'">층별 조건 등록
    </button>
    <button type="button" class="btn btn-light"
            onclick="location.href='{% url 'rebs:project:set-sales-price' %}'">분양 가격 등록
    </button>
    <button type="button" class="btn btn-light"
            onclick="location.href='{% url 'rebs:project:set-payment-order' %}'">납부 회차 등록
    </button>
    <button type="button" class="btn btn-primary">계약 금액 등록</button>
</div>
