{% extends 'rebs_docs/docs_board.html' %}

{% block board %}
    {% load static %}

    <div class="row">
        <div class="col-12 border-bottom mb-4">
            <h4>
                {% if co %}{% if not object.project %}본사{% else %}{{ object.project }}{% endif %}
                    {% if not object.category %} <i class="uil-angle-double-right"></i> {% endif %}{% endif %}
                {{ this_board }}
            </h4>
        </div>

        <div class="col-12">
            {% include 'board/partials/form.html' %}
        </div>
    </div>



{% endblock %}


{% block third_party_js %}

    <script src="{% static 'tinymce/tinymce.min.js' %}" referrerpolicy="origin"></script>
    <script>

      {% if not co %}
        window.onload = function () {
          document.getElementById('id_project_sel').setAttribute('onchange', 'submit()')
        }
      {% endif %}

      tinymce.init({
        selector: '#id_content',
        language: 'ko_KR',
        menubar: false,
        statusbar: false,
        skin: (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'oxide-dark' : 'oxide'),
        content_css: (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'default'),
        toolbar: 'bullist numlist code image table undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code',
        plugins: ['code', 'advlist', '	image', 'table'],
        height: 430,
        advlist_bullet_styles: 'square',
        advlist_number_styles: 'lower-alpha,lower-roman,upper-alpha,upper-roman'
      });
    </script>

{% endblock %}
