{% extends 'rebs_docs/docs_board.html' %}

{% block board %}

    <div class="row">
        <div class="col-12 border-bottom mb-3"><h4>{{ this_board }}</h4></div>

        {% include 'board/partials/sort_search.html' %}

        {% include 'board/partials/category_select.html' %}

        {% include 'board/partials/post_list_table.html' %}

        <div class="row col-12">
            <div class="col-12 text-right">
                <a href="{% if co %}

                    {% if this_board.pk == 1 %}{% url 'rebs:docs:co.general_create' %}{% else %}{% url 'rebs:docs:co.lawsuit_create' %}{% endif %}
            {% else %}

                    {% if this_board.pk == 1 %}{% url 'rebs:docs:pr.general_create' %}{% else %}{% url 'rebs:docs:pr.lawsuit_create' %}{% endif %}
            {% endif %}">
                    <button type="button" class="btn btn-primary">등록하기</button>
                </a>
            </div>
        </div>
    </div>

    {% if is_paginated %}
        {# to_first_last :: 맨처음 / 맨끝으로 버튼 사용 여부 #}
        {# page_class ex:: pagination-rounded pagination-sm pagination-lg justify-content-center justify-content-end #}
        {% include 'partials/pagination.html' with to_first_last="ok" page_class="pagination-rounded justify-content-end" %}
    {% endif %}

{% endblock %}
{##}
{#{% block third_party_js %}#}
{##}
{#{% endblock %}#}
