<div class="col-12 row mb-3">
    <div class="col-xs-12 col-sm-4 col-md-6 row">
        <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
            <select class="form-control form-select" id="list-order">
                <option>정렬하기</option>
                <option>날짜순</option>
                <option>조회수</option>
                <option>추천순</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 row">
        <div class="d-none d-xl-block col-xl-4"></div>
        <div class="col-sm-4 col-md-4 col-xl-3">
            <select class="form-control form-select" id="list-order">
                <option>제목+내용</option>
                <option>제목</option>
                <option>내용</option>
                <option>회원명</option>
                <option>회원아이디</option>
            </select>
        </div>
        <div class="col-sm-8 col-md-8 col-xl-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark" type="button">검색</button>
            </div>
        </div>
    </div>
</div>
